<main>
    <div class="box">
        <div class="inner-box">
            <div class="contact-info">
                <h2>Contact Us</h2>
                <div class="info">
                    <div class="icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="text">
                        <p><strong>Email:</strong> WheelScape@gmail.com</p>
                    </div>
                </div>
                <div class="info">
                    <div class="icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="text">
                        <p><strong>Phone:</strong> 0900-78601</p>
                    </div>
                </div>
                <div class="info">
                    <div class="icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="text">
                        <p><strong>Address:</strong> 123, Lahore, UK</p>
                    </div>
                </div>
                <img src="\images\contactpicture.jpg" alt="Company Photo">
            </div>

            <div class="forms-wrap">
                <form action="#" autocomplete="off" class="contact-form">
                    <div class="actual-form">
                        <div class="input-wrap">
                            <label>Full Name</label>
                            <input type="text" class="input-field" autocomplete="off" required>
                            <div class="error"></div>
                        </div>

                        <div class="input-wrap">
                            <label>Email</label>
                            <input type="email" class="input-field" autocomplete="off" required>
                            <div class="error"></div>
                        </div>

                        <div class="input-wrap">
                            <label>Select Gender</label>
                            <select class="input-field" required>
                                <option value="" disabled selected>Gender</option>
                                <option value="male">Male</option>
                                <option value="female">Female</option>
                                <option value="other">Other</option>
                            </select>
                            <div class="error"></div>
                        </div>

                        <div class="input-wrap">
                            <label>Message</label>
                            <textarea class="input-field" rows="4" required></textarea>
                            <div class="error"></div>
                        </div>

                        <input type="submit" value="Submit" class="send-btn">
                    </div>
                </form>
                
            </div>
        </div>
    </div>
</main>
<div id="popup-message"></div>

<script src="script.js"></script>


  