<body id="carFormBody">

<div id="headingContainer">
    <h2 id="carInfoTitle">Car Information Form</h2>
</div>


  
    <form id="carForm" action="" method="POST">
      <label for="make">Make:</label>
      <input type="text" id="make" name="make" required>
  
      <label for="model">Model:</label>
      <input type="text" id="model" name="model" required>
  
      <label for="year">Year:</label>
      <input type="number" id="year" name="year" required>
  
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" required>
  
      <label for="description">Description:</label>
      <textarea id="description" name="description" rows="4" required></textarea>
  
      <label for="color">Color:</label>
      <input type="text" id="color" name="color" required>
  
      <!-- Uncomment the following section if you want to include image URLs
      <label for="images">Images:</label>
      <div id="imageContainer">
        <div class="imageEntry">
          <label for="imageUrl">Image URL:</label>
          <input type="text" id="imageUrl" name="images[0][url]">
          <label for="imageDescription">Image Description:</label>
          <input type="text" id="imageDescription" name="images[0][description]">
        </div>
      </div>
      <button type="button" onclick="addImageField()">Add Another Image</button>
      -->
  
      <button id="uniqueSubmitButton" onclick="showSuccessMessage()">Submit</button>

    </form>
    <div id="successMessage" style="display:none; color: green;">Success! Your message has been submitted.</div>


    <script>
        function showSuccessMessage() {
            var successMessage = document.getElementById("successMessage");
            successMessage.style.display = "block";
            setTimeout(function(){
                successMessage.style.display = "none";
            }, 3000); // Hide the message after 3 seconds
        }
    </script>