<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WheelScape</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./contact.css">
    <link rel="stylesheet" href="./ajax.css">


    <link rel="shortcut icon" type="image/icon" href="images/sport-car.png"/>

    <!--linear icon css-->
   <link rel="stylesheet" href="css/linearicons.css">
  <!--flaticon.css-->
  <link rel="stylesheet" href="css/flaticon.css">
  <!--animate.css-->
      <link rel="stylesheet" href="css/animate.css">   

</head>
<body>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top bootsnav">
    <div class="container">
        <a class="navbar-brand" href="#">
            <img src="images/sporicon.png" alt="WheelScape" style="height: 50px; width: auto;">
            <span class="text-warning">Wheel</span>Scape
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="homepage.html">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#about">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#services">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#portfolio">Portfolio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="ajaxapi.html ">Ajax api</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="contact-us.html">Contact</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
   
    <%-body  %>

                                                 <!-- FOOTER -->

    <footer id="contact" class="contact">
        <div class="container">
          <div class="footer-top">
            <div class="row">
              <div class="col-md-3 col-sm-6">
                <div class="single-footer-widget">
                  <div class="footer-logo">
                    <a href="index.html">Wheelscape</a>
                  </div>
                  <p>
                    Your ultimate destination for all things automotive. Find the latest cars and accessories to enhance your driving experience.
                  </p>
                  <div class="footer-contact">
                    <p>info@wheelscape.com</p>
                    <p>+1 (885) 2563-154554</p>
                  </div>
                </div>
              </div>
              <div class="col-md-2 col-sm-6">
                <div class="single-footer-widget">
                  <h2>About Wheelscape</h2>
                  <ul>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Terms of Service</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                  </ul>
                </div>
              </div>
              <div class="col-md-3 col-xs-12">
                <div class="single-footer-widget">
                  <h2>Top Brands</h2>
                  <div class="row">
                    <div class="col-md-7 col-xs-6">
                      <ul>
                        <li><a href="#">BMW</a></li>
                        <li><a href="#">Lamborghini</a></li>
                        <li><a href="#">Camaro</a></li>
                        <li><a href="#">Audi</a></li>
                        <li><a href="#">Infiniti</a></li>
                        <li><a href="#">Nissan</a></li>
                      </ul>
                    </div>
                    <div class="col-md-5 col-xs-6">
                      <ul>
                        <li><a href="#">Ferrari</a></li>
                        <li><a href="#">Porsche</a></li>
                        <li><a href="#">Land Rover</a></li>
                        <li><a href="#">Aston Martin</a></li>
                        <li><a href="#">Mercedes</a></li>
                        <li><a href="#">Opel</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-offset-1 col-md-3 col-sm-6">
                <div class="single-footer-widget">
                  <h2>Newsletter</h2>
                  <div class="footer-newsletter">
                    <p>
                      Stay updated with the latest news, updates, and offers from the automotive world.
                    </p>
                  </div>
                  <div class="hm-foot-email">
                    <div class="foot-email-box">
                      <input type="text" class="form-control" placeholder="Enter Email">
                    </div><!--/.foot-email-box-->
                    <div class="foot-email-subscribe">
                      <span><i class="fa fa-arrow-right"></i></span>
                    </div><!--/.foot-email-icon-->
                  </div><!--/.hm-foot-email-->
                </div>
              </div>
            </div>
          </div>
          <div class="footer-copyright">
            <div class="row">
              <div class="col-sm-6">
                <p>
                  &copy; 2024 Wheelscape. Designed and developed by <a href="Hammadyousaf87@gmail.com">Hammad</a>.
                </p><!--/p-->
              </div>
              <div class="col-sm-6">
                <div class="footer-social">
                  <a href="#"><i class="fa fa-car"></i></a>
                  <a href="#"><i class="fa fa-road"></i></a>
                  <a href="#"><i class="fa fa-gear"></i></a>
                  <a href="#"><i class="fa fa-map-marker"></i></a>
                  <a href="#"><i class="fa fa-tachometer"></i></a>
                </div>
              </div>
            </div>
          </div><!--/.footer-copyright-->
        </div><!--/.container-->
      
        <div id="scroll-Top">
          <div class="return-to-top">
            <i class="fa fa-angle-up" id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
          </div>
        </div><!--/.scroll-Top-->
      </footer><!--/.contact-->
      
      
      
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" 
    crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      </body>
      </html>